body {
  font-family: sans-serif;
}

.main-content {
        min-width: 800px;
        max-width: 1400px;
        height: 100%;       
        margin: auto;
        padding-top: 50px;
        width: 100%;
        overflow-x: hidden;
}

/* Remove the navbar's default margin-bottom and rounded borders */
/*---------------------------------------------nav-bar-----------------------------------------------*/
   /*TOP BAR*/
   .navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    padding: 5px;
    min-width: 900px;
  }
   
/*---------------------------------------------table-----------------------------------------------*/

   .right-icon{
      text-align: right;
      font-size: 25px;
      color: gray;
   }

  button {
    border: 0px;
    background-color: null; 
  }

  .modal-header{
    height: 75px;
  }

  .modal-logo {
      height: 100px;
      position: absolute;
      top: -15px;
      right: 32%;
  }


    /*white box*/
   .jumbotron {
       background-color: white;
       padding: 0px;
       /* border-top: 1px solid lightgray; */
       /* border-bottom: 1px solid lightgray; */
       height: 350px;
       /*position: fixed;*/
       /*float: left;*/
   }
   .no-padding {
     padding: 0px;
   }

   .my-color {
      color: #000000;
      font-size: 20px;
      /* border: 1px solid pink; */
   }

   .classstyle {
      height: 100%;
      display: flex;
      justify-content: center;
      font-size: 18px;
      padding: 0;
      align-items: center; 
      text-align: center;
      margin: 0;
      border: 1px solid white;
      border-radius: 5px;
      background: gray;
      color: white;
      
   }
   .timeperiod {
        display: inline-block;
        text-align: left;
        width: 4%;
        padding: 10px 0 10px 0;
        /* border: 1px solid pink; */
   }

   .flex-center {
     display: flex;
     justify-content: center;
     /*align-items: center;*/
     flex-wrap: wrap;
     overflow-y: hidden;
     height: 100%;
     
   }

   .my-table {
     width: 800px;
     height: 300px;
     padding: 0 !important;
     /*margin-right: 10px;*/
   }
   
   .my-table > div {
     min-width: 800px;
     padding: 0 !important;
   }

   .sm-padding {
      padding: 5px;
      
   }
   .grayline {
      /*margin-top: 20px;*/
      border-left: 1px dashed lightgray;
      padding: 20px; 
      
   }
   .blackline {
      /*margin-top: 20px;*/
      border-bottom: 1px solid lightgray;
      width: 100%;
      margin: 0;
      padding: 0;
      /*border-top: 1px solid lightgray;*/
   
   }
   @media all and (max-width: px) {
     /*CSS class Applied only when screen is smaller than or equal to 767px*/
   }

   .col-sm-1 {
       padding: 0px;
       margin: 0px;
       /*height: 30px;*/
   }
   .col-sm-2 {
       padding: 0px;
       margin: 0px;
   }

/*---------------------------------------------search panel-----------------------------------------------*/
   .input-group{
      margin: 0px 30px 10px 30px;
      
   }

   .panel-default {
      box-shadow: 1px 1px 1.5px lightgrey;
      margin-left: 15px;
      padding-top: 15px;
   }
   .selectstyle {
     z-index: 999 !important;
   }

   .resultstyle {
    text-align: right !important;
    font-size: 12px; 
    color: gray;
    margin: 0px 0px 10px 0px;
   }
  .list-group.item {
    padding: 0px !important;
  }

   .courseNostyle {
     font-size: 18px;
     text-align: left !important; 
     padding: 0px;
     display: inline;
     font-weight: bold;

   }

   .namestyle {
    font-size: 16px;
    text-align: left !important; 
    padding: 0 0 0 10px;
    display: inline;
    font-weight: bold;

   }

   .checkbuttonstyle {
     float: right;
   }



/*---------------------------------------------somethingggggg-----------------------------------------------*/
   /* On small screens, set height to 'auto' for sidenav and grid */
   @media screen and (max-width: 800px) {
     .sidenav {
       height: 0px;
       padding: 15px;
     }
     .row.content {height:100%;}
   }

   .App {
     text-align: center;
   }



   .App-intro {
     font-size: large;
   }

   @keyframes App-logo-spin {
     from { transform: rotate(0deg); }
     to { transform: rotate(360deg); }
   }
