body {
  margin: 0;
  padding: 10;
  /*height: 900px;*/
  font-family: sans-serif;
  background-color: white;
}


.main-content {
        min-width: 800px;
        max-width: 1400px;
        height: 900px;       
        margin: auto;
        padding-top: 50px;
}

/* Remove the navbar's default margin-bottom and rounded borders */
/*---------------------------------------------nav-bar-----------------------------------------------*/
   /*TOP BAR*/
   .navbar {
     margin-bottom: 0px;
     border-radius: 0px;
     padding: 10px;
     min-width: 900px;
   }
   /*TOP BAR*/
   #myNavbar> ul >li >a,p{
       color: gray;
       padding-top: 15px;
   }

   .navbar-brand
    {
        position: absolute;
        left: 50%;
        margin-left: -110px !important;  /* 50% of your logo width */
        display: block;
    }



/*---------------------------------------------header-----------------------------------------------*/
   .headtitle {
      /*background: pink url("https://s-media-cache-ak0.pinimg.com/originals/8f/c5/3f/8fc53fc5d0336c5eec2921c0033e33fc.png") no-repeat center center;*/
      /*background-size: cover; */
      /*height: 400px;*/
      text-align: center;
   }
   .headtitle > img {
      /*background: pink url("https://s-media-cache-ak0.pinimg.com/originals/8f/c5/3f/8fc53fc5d0336c5eec2921c0033e33fc.png") no-repeat center center;*/
      /*background-size: cover; */
      /*height: 400px;*/
   }


   /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
   /* Set background to lightgray */
   

/*---------------------------------------------table-----------------------------------------------*/
    /*white box*/
   .jumbotron {
       background-color: #FFFFFF; /* white */
       color: #111111;
       padding: 20px 30px 20px 30px;
       border : 1px solid lightgray;
       border-radius: 5px;
       box-shadow: 1px 1px 1.5px lightgrey;
       margin: auto;
   }
   .my-panel {

   }
   .no-padding {
     padding: 0px;
   }

   .my-color {
         color: #000000;
         background: #FFFFFF;
         border-color: #000000;
         border-style: solid;
     /*background-color: #FF0000;*/
   }

   .flex-center {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
   }

   .my-table {
     width: 800px;
     margin-right: 10px;
   }
   
   .my-table > div {
     min-width: 800px;
   }
   .sm-padding {
      padding: 5px;
   }
   .grayline {
      
      /*margin-top: 20px;*/

      border-right: 1px dashed lightgray;
      padding: 20px;
   }

   @media all and (max-width: px) {
     /*CSS class Applied only when screen is smaller than or equal to 767px*/
   }

   .rcorners1 {
     color: #FFFFFF;
     background: #73AD21;
     border-radius: 10px;
     padding: 10px;
     font-size: 15px;
     text-align: center;
     box-shadow: 2.5px 2.5px 2.5px grey;
     /*margin-top: 10px;*/
   }

   .col-sm-1 {
       padding: 0px;
       /*height: 30px;*/
   }
   .col-sm-2 {
       padding: 0px;
       margin: 0px;
   }

/*---------------------------------------------search panel-----------------------------------------------*/
   .input-group{
      margin-bottom: 10px;
   }

   .panel-default {
      box-shadow: 1px 1px 1.5px lightgrey;
   }
   .searched-course-name{
       color: black;
       text-align: left;
       font-size: 20px;
   }
   .searched-credit{
       color: lightgray;
       text-align: left;
       font-size: 15px;
   }

   /* Set gray background color and 100% height */
   .sidenav {
     /*position:
     padding-top: 20px;
     background-color: #f1f1f1;
     height: 100%;*/
   }
/*---------------------------------------------footer-----------------------------------------------*/
   /* Set black background color, white text and some padding */
   footer {
     background-color: #555;
     color: white;
     padding: 15px;


   }


/*---------------------------------------------somethingggggg-----------------------------------------------*/
   /* On small screens, set height to 'auto' for sidenav and grid */
   @media screen and (max-width: 800px) {
     .sidenav {
       height: 0px;
       padding: 15px;
     }
     .row.content {height:auto;}
   }

   .App {
     text-align: center;
   }



   .App-intro {
     font-size: large;
   }

   @keyframes App-logo-spin {
     from { transform: rotate(0deg); }
     to { transform: rotate(360deg); }
   }
