body {
  margin: 0;
  padding: 10;
  /*height: 900px;*/
  font-family: sans-serif;
  background-color: white;
}


.main-content {
        min-width: 800px;
        max-width: 1400px;
        height: 900px;       
        margin: auto;
        padding-top: 50px;
        width: 100%;
}

/* Remove the navbar's default margin-bottom and rounded borders */
/*---------------------------------------------nav-bar-----------------------------------------------*/
   /*TOP BAR*/
   .navbar {
     margin-bottom: 0px;
     border-radius: 0px;
     padding: 5px;
     min-width: 900px;
   }
   /*TOP BAR*/
   #myNavbar> ul >li >a,p{
       color: gray;
       padding-top: 15px;
   }

   .navbar-brand
    {
        position: absolute;
        /*left: 50%;*/
        /*margin-left: -110px !important;  /* 50% of your logo width */
        display: block;
    }



/*---------------------------------------------header-----------------------------------------------*/
   
/*---------------------------------------------table-----------------------------------------------*/

   .right-icon{
      text-align: right;
      font-size: 25px;
      color: gray;
   }

  button {
    border: 0px;
    background-color: white; 
  }

  .modal-header{
    height: 75px;
  }

  .modal-logo {
      height: 100px;
      position: absolute;
      top: -15px;
      right: 32%;
  }


    /*white box*/
   .jumbotron {
       background-color: white;
       color: #111111;
       padding: 0px;
       border-top: 1px solid lightgray;
       border-bottom: 1px solid lightgray;
       margin: 0px;
       height: 440px;
       /*position: fixed;*/
       /*float: left;*/
   }
   .my-panel {

   }
   .no-padding {
     padding: 0px;
     
   }

   .my-color {
         color: #000000;
   }

   .flex-center {
     display: flex;
     justify-content: center;
     /*align-items: center;*/
     flex-wrap: wrap;
     
   }

   .my-table {
     width: 800px;
     height: 300px;
     /*margin-right: 10px;*/
   }
   
   .my-table > div {
     min-width: 800px;
     
   }

   .sm-padding {
      padding: 5px;
      
   }
   .grayline {
      /*margin-top: 20px;*/
      border-left: 1px dashed lightgray;
      padding: 20px; 
      
   }
   .blankbox {
      height: 71px;
   }
   .blackline {
      /*margin-top: 20px;*/
      border-bottom: 1px solid lightgray;
      /*border-top: 1px solid lightgray;*/
      padding: 20px;
   }
   @media all and (max-width: px) {
     /*CSS class Applied only when screen is smaller than or equal to 767px*/
   }

   .rcorners1 {
     color: #FFFFFF;
     background: #73AD21;
     border-radius: 10px;
     padding: 10px;
     font-size: 15px;
     text-align: center;
     box-shadow: 2.5px 2.5px 2.5px grey;
     /*margin-top: 10px;*/
      /*border-top: 10px solid white;*/
     /*position: center center;*/
   }

   .col-sm-1 {
       padding: 0px;
       margin: 0px;
       /*height: 30px;*/
   }
   .col-sm-2 {
       padding: 0px;
       margin: 0px;
   }

/*---------------------------------------------search panel-----------------------------------------------*/
   .input-group{
      margin: 0px 30px 10px 30px;
   }

   .panel-default {
      box-shadow: 1px 1px 1.5px lightgrey;
      margin-left: 15px;
      padding-top: 15px;
   }

   .badge{
      margin-left: 10px;
   }

   .searched-course-name{
       color: black;
       text-align: left;
       font-size: 20px;
   }
   .searched-credit{
       color: lightgray;
       text-align: left;
       font-size: 15px;
       margin-bottom: 10px;
   }
   .list-group{
       /*overflow-y: scroll;*/
       /*height: 500px;*/
   }
   .list-group-item{
      padding: 5px 15px 10px 15px;   
   }

   .secname{
      font-size: 20px;
      padding: 20px 0px 0px 5px;
      margin: 0px;
      color: black;
      text-align: left;
      display: inline-block;
      float: left;
   }
   .teachername{
      font-size: 15px;
      padding: 1px 0px 0px 25px; /*Oop*/
      display: inline-block;      
      text-align: left;      
   }

   /* Set gray background color and 100% height */
   .sidenav {
     /*position:
     padding-top: 20px;
     background-color: #f1f1f1;
     height: 100%;*/
   }
/*---------------------------------------------footer-----------------------------------------------*/
   /* Set black background color, white text and some padding */
   footer {
     background-color: #555;
     color: white;
     padding: 15px;


   }


/*---------------------------------------------somethingggggg-----------------------------------------------*/
   /* On small screens, set height to 'auto' for sidenav and grid */
   @media screen and (max-width: 800px) {
     .sidenav {
       height: 0px;
       padding: 15px;
     }
     .row.content {height:auto;}
   }

   .App {
     text-align: center;
   }



   .App-intro {
     font-size: large;
   }

   @keyframes App-logo-spin {
     from { transform: rotate(0deg); }
     to { transform: rotate(360deg); }
   }
